[gpg]
	format = x509
[gpg "x509"]
	program = gitsign
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gitsign]
	connectorID = https://accounts.google.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[user]
	email = kevin.inscoe@gmail.com
	name = Kevin P. Inscoe
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	hooksPath = ~/.config/git/hooks
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
